body {
	background: black;
	align-items: center;

	background-image:url("background3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
h1 {
	color: white;
	background-color: red;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 7px black, 0 0 7px black;
	font-family: 'Georgia', serif;
	font-weight: bold;
	font-size: 50px;

}


.organizer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background-color: none;
	width: 100%;
}

.picture{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
	height: auto;
}

.textbox{
	text-align: center;
	color: white;
	background-color: darkred;
	width: 50%;
	text-shadow: 0 0 7px black, 0 0 7px black;
	font-family: 'Georgia', serif;
	font-weight: bold;
	font-size:20px;
}

.head{
	text-align: center;
	color: white;
	background-color: red;
	width: 100%;
	text-shadow: 0 0 7px black, 0 0 7px black;
	font-family: 'Georgia', serif;
	font-weight: bold;
	font-size: 25px;
}

.audiobox::-webkit-media-controls-panel{
	background-color: red;
	color: red;
}

#mus{
	width: 35%;
	height: auto;
}

#titlecard{
	font-size: 25px;
	width:75%;
}

#baton{
	width: 75%;
	font-size: 20px;
}